* {
    box-sizing : border-box;
}

body {
    background-color: #fdfffc;
    color: #011627;
    font-size: 100%;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
}

h1, h2, h3, .nom {
    font-family: "Changa One", cursive;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .75em;
}

p {
    line-height: 1.5;
}

a {
    color: #e71d36;
    text-decoration: none;
}

/* Entete du site */
header {
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

header .logo {
    font-family: "Changa One", cursive;
}

header .logo .nom {
    color: #2EC4B6;
    font-size: 1.75rem;
    line-height: .8;
    margin: 1rem 0;
}

header .logo .metier {
    margin: -5px;
}

nav {
    padding: 10px 0;
    margin-top: 20px;
}

.accueil {
    display: none;
}

nav ul {
    padding: 0;
    margin: 0 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0;
}

nav ul li a {
    font-size: 800px;
    text-space: 30px;
    padding: 15px 10px;
}

nav ul li a:hover {
    color: #2ec4b6;
}